/generated_definitions

# global things

_build/
_sbuild/
c_emulator/Perf/build/
*.o
*.a
/z3_problems
testbench/mibench_results/
testbench/polybench_results/
testbench/results_summary/
testbench/results_detail/
c_emulator/riscv_sim_RV64